/* Sistemas de Tamanhos - https://typescale.com/ 
   1rem = 10px
   1.6rem = 16px
   2.4rem = 24px
   3.5rem = 35px

   Fontes - Minor Third - 1.200 - Em PX
   4.4 - 5.4 - 6.4 -7.7 - 9.2 - 11.1 - 13.3 - 16 - 19.2 - 
   23 - 27.6 - 33.2 - 39.8 - 47.8 - 57.3 - 68.8 - 826

   Espaçamentos - Major Third - 1.250 - Em PX
   2.1 - 2.7 - 3.3 - 4.2 - 5.2 - 6.5 - 8.2 - 10.2 - 12.8 -
    16 - 20 - 25 - 31.2 - 39 - 48.8 - 61 - 76.3 - 95.4 - 119.2
*/


/* Global */

/* Seletores Universais  */

* {
    /* Espaçamento */
    margin: 0;  
    padding: 0;
    /* Box model */
    box-sizing: border-box;
}

html {
    /* Dimensões e unidades */
    font-size: 62.5%;
}

/* Herança de estilos  */
body {
    /* Fontes */
    font-family: "Montserrat", sans-serif;
    font-size: 1.6rem;
    /* Cores */
    color: #404040;
    background-color: #FFFFFF;
    /* Layout - Altura da linha */
    line-height: 1.4;
}


h1 {
    font-size: 3.32rem;
    line-height: 1;
    font-weight: 600;
}

h2 {
    font-size: 2.76rem;
    line-height: 1.1;
    font-weight: 400;
}

h3 {
    font-size: 2.3rem;
    line-height: 1.2;
}


strong {
    font-weight: 600;
}

ul {
    list-style: none;
}

/* Link cor hover do menu */
/* a:link,
a:visited {

} */

.secao {
    padding: 7.63rem 2rem;
}

.container {
    max-width: 100rem;
    margin: 0 auto;
}


.botao {
    display: inline-block;
    color: white;
    padding: 0.65rem 2.5rem;
    font-size: 2.4rem;
    font-weight: 700;
    text-decoration: none;
    border-radius: 3rem;
    box-shadow: 0 0.21rem 0.8rem 0 rgb(0, 0, 0, 0.15);
}

.realce-semibold {
    font-weight: 600;
}

.hero-paragrafo,
.comoajudar-lista,
.comoajudar-paragrafo,
.diferenciais-p {
    font-size: 1.92rem;
    line-height: 1.3;
}

/* Cabeçalho */

.cabecalho {
    position: sticky;
    z-index: 9999;
    top: 0;
    left: 0;
    background-color: #FFFFFF;
    padding: 1.6rem 3.2rem;
    box-shadow: 0 0.21rem 0.4rem 0 rgb(0, 0, 0, 0.1);
    
}


/* Temporário */
nav {
    display: none;
}



.item-lista-cabecalho a {
    color: #112E61;
    font-size: 1.4rem;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
}

.item-lista-cabecalho a:hover,
.item-lista-cabecalho a:active {
    color: #f60;
}

.item-lista-cabecalho.contem-filhos::after {
    content: "\2bc6"; /* Unicode para seta para baixo */
}

/* Seção Hero */

.secao-hero {
    background-image: url("https://elegant-rabanadas-4b0397.netlify.app/Imagens/Formato%20Novo/BACKGROUN-banner-01.webp");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-botao {
    background-image: linear-gradient(180deg, #ff645e, #ff9253);
    border-bottom: solid 0.4rem #993c38;
    border-right: solid 0.4rem #993c38;
}

.hero-botao:hover {
    background-color: #ff9253;
    background-image: none;
    border-bottom: solid 0.4rem #ff9253;
    border-right: solid 0.4rem #ff9253;
}

.iframe-video {
    display: none;
    aspect-ratio: 16/9;
    width: 42rem;
    border-radius: 2.5rem;
}

/* Seção Conteúdos Gratuitos */

.secao-conteudos {
    background-image: url("https://elegant-rabanadas-4b0397.netlify.app/Imagens/Formato%20Novo/BACKGROUN-banner-02.webp");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}



.caixa-cursos-hashtag {
    position: relative;
    box-shadow: inset 0 0rem 0.8rem 0.1rem rgb(0, 0, 0, 0.15);
    border-radius: 2.5rem;
    padding: 2rem;
}


.caixa-gratuito-h3 {
    position: absolute;
    top: 0;
    left: 50%;
    display: inline-block;
    padding: 0.45rem 1.6rem;
    background-image: linear-gradient(90deg, #aa56e6, #6d42b9);
    color: white;
    border-radius: 1rem;
    transform: rotate(-3deg) translate(-50% , -50%);
    box-shadow: 0 0.21rem 0.4rem 0 rgb(0, 0, 0, 0.1);
}

.circulo-logo-curso {
    display: inline-block;
    background-color: #e7e7e7;
    border-radius: 50%;
    box-shadow: inset 0 0rem 0.4rem 0.2rem rgb(0, 0, 0, 0.15);
    padding: 1.02rem;
    width: 4.5rem;
    height: 4.5rem;
}

.circulo-logo-curso img {
    width: 100%;
}

.img-conteudos {
    width: 44rem;
}

.gratuito-realce {
    color: #7A40BE;
    font-weight: 600;
}

.gratuito-h3 {
    font-weight: 700;
}

.gratuito-link-lista:link,
.gratuito-link-lista:visited {
    display: inline-block;
    padding: 0.42rem 3.12rem;
    background-color: #eee;
    border-radius: 2.5rem;
    box-shadow: inset 0 0rem 0.4rem 0.2rem rgb(0, 0, 0, 0.15); 
    font-size: 1.92rem;
    line-height: 1.3rem;
    text-decoration: none;
    color: inherit;
}

.gratuito-link-lista:hover,
.gratuito-link-lista:active {
    text-decoration: underline;
}

.gratuito-link-lista img {
    width: 1.8rem;
}

/* Seção Diferenciais */

.secao-diferenciais {
    background-color: #f4f5f7;
}


.container-diferenciais{
    border-radius: 5rem;
    background-color: white;
    box-shadow: inset 0 0rem 0.8rem 0.3rem rgb(0, 0, 0, 0.15);
}

.caixa-titulo-diferenciais {
    border-top-left-radius: 5rem;
    border-top-right-radius: 5rem;
    padding: 4.88rem;
    background-image: linear-gradient(225deg, #196b9f, #1a82a7);
    color: white
}

.caixa-restante-diferenciais {
    padding: 4.88rem;
}   

.caixa-intens-diferenciais {
    position: relative;
    border-radius: 2.5rem;
    background-color: white;
    box-shadow: 0 0rem 0.8rem 0.3rem rgb(0, 0, 0, 0.15);
    padding: 3.12rem 2.5rem;
}

.caixa-imagem-diferenciais {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    border-radius: 1.5rem;
    background-color: #ffaf00;
    width: 10rem;
    height: 10rem;
    padding: 1.6rem;
    box-shadow: inset 0 0rem 0.8rem 0.2rem rgb(0, 0, 0, 0.1);
}

.caixa-imagem-diferenciais img {
    width: 100%;
}

.diferenciais-empresas img {
    height: 5rem;
    filter: grayscale(100%);
}

.logo-subsea7,
.logo-disney,
.logo-animale {
    opacity: 75%;
}

.logo-loreal {
    opacity: 60%;
}

.caixa-diferenciais-h2 {
    border-left: solid 0.5rem #ffb20f;
    padding: 0.52rem 0 0.52rem 1.6rem;
}


.diferenciais-h3 {
    color: #005E88;
    font-weight: 600;
}

.difenciais-h3-empresas {
    font-weight: 400;
}

.difenciais-h3-empresas a {
    font-size: 3.5rem;
    color: #005E88;
    text-decoration: none;
    font-weight: 700;
}

/* Seção O que falam */

.blog-postadoem a {
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    color: #f7a70c;
}

.blog-titulopost {
    font-size: 2.4rem;
    font-weight: 600;
    text-decoration: none;
}

.blog-descricaopost {
    font-size: 1.7rem;
}

/* Seção Como ajudar */

.comoajudar-lista a,
.comoajudar-paragrafo a {
    color: #008ff7;
    font-weight: 600;
}

.comoajudar-paragrafo b {
    font-weight: 600;
}

/* Rodapé */

.rodape-titulo {
    font-weight: 600;
    font-size: 2.2rem;
}

.rodape-subtitulo {
    font-size: 2rem;
    font-weight: 500;
}

.rodape-seg-subtitulo {
    font-weight: 500;
    font-size: 1.8rem;
}

.rodape-link {
    color: #1a77a4;
    
}